# Gradle関連のディレクトリとファイル
.gradle/
build/
bin/

# Gradleラッパーのjarファイル
gradle-wrapper.jar

# ビルド結果
target/
out/
build/

# IntelliJ IDEA関連
.idea/
*.iml
*.ipr
*.iws

# Eclipse関連
.classpath
.project
.settings/

# ローカル環境固有のファイル
*.log

# OS Xの特有ファイル
.DS_Store

# その他の一般的な無視ファイル
*.bak
*.swp
*.tmp